<!DOCTYPE html>
<html lang="en">
<head>
  <title> Crud Using Vue Js, PHP, MYSqli </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    #overlay{
        position: fixed;
        top:0;
        bottom: 0;
        left:0;
        right:0;
        background: rgba(0,0,0,0.6);
    }
  </style>
</head>
<body>


    <div id="app">
            
            <div class="container-fluid">
                <div class="row bg-dark">
                    <div class="col-md-12">
                        <p class="text-center text-light display-4 pt-2"> Crud Using Vue Js, PHP, MYSqli </p>
                    </div>

                </div>
                   
            
            </div>
            
            <div class="container">
                <!------Row Start---->
                <div class="row mt-4">
                    <div class="col-md-6">
                        <h3 class="text-info"> Registered Users </h3>
                    </div>

                    <div class="col-md-6">
                        <button class="btn btn-info float-right" @click="showAddModal=true"> 
                            <i class="fa fa-user"> </i> &nbsp; Add New User </button>
                    </div>
                </div>
                <!------Row End---->


                <hr class="bg-info">
                <div class="alert alert-danger" v-if="errorMsg" >
                    {{ errorMsg }}
                </div>


                <div class="alert alert-success" v-if="successMsg" >
                    {{ successMsg }}
                </div>

                <!----Displaying Records------>
                    <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped">
                                        <thead> 
                                            <tr class="text-center bg-info text-light">
                                                <th>Id</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Edit</th>
                                                <th>Delete</th>

                                            </tr>
                                        </thead>
                                        <tbody> 
                                            <tr class="text-center" v-for="user in users">
                                                <td> {{ user.id }} </td>
                                                <td> {{ user.name }} </td>
                                                <td> {{ user.email }} </td>
                                                <td> {{ user.phone }} </td>
                                                <td> <a href="#" class="text-success" @click="showEditModal=true; selectUser(user);"> <i class="fa fa-edit"></i> </a> </td>
                                                <td> <a href="#" class="text-danger" @click="showDeleteModal=true; selectUser(user);"> <i class="fa fa-trash-o"> </i> </a> </td>
                                            </tr>
                                           
                                      
                                    </tbody>
                                </table>
                            </div>

                    </div>

                <!--Displaying records ends-->


            </div>



        <!-----------ADD NEW USER MODAL--------->
                
        <div id="overlay" v-if="showAddModal">
            <div class="modal-dialog">
                            
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                      
                        <h5 class="modal-title"> Add New User </h5>
                          <button type="button" class="close" @click="showAddModal=false" > <span aria-hidden="true"> &times; </span> </button>
                     </div>
                     <div class="modal-body p-4">
                        <form method="post" action="#">
                         <div class="form-group">
                            <input type="text" class="form-control form-control-lg" placeholder="Name" name="name" v-model ="newUser.name">
                         </div>

                        <div class="form-group">
                             <input type="email" class="form-control form-control-lg" placeholder="Email" name="email" v-model ="newUser.email">
                        </div>

                        <div class="form-group">
                             <input type="tel" class="form-control form-control-lg" placeholder="Phone" name="phone"  v-model ="newUser.phone">  
                         </div>
                         
                         <div class="form-group">
                                <button type="button" class="btn btn-info btn-block btn-lg" @click="showAddModal=false; addUser(); clearMsg(); "> Add User </button>
                         </div>



                         </form>
                    </div>

                    
                </div>
                            
            </div>
        </div>
        <!-----------MODAL FOR NEW USER ENDS-------->




        <!-----------EDIT NEW USER MODAL--------->
                
        <div id="overlay" v-if="showEditModal">
                <div class="modal-dialog">
                                
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                          
                            <h5 class="modal-title"> Edit User </h5>
                              <button type="button" class="close" @click="showEditModal=false" > <span aria-hidden="true"> &times; </span> </button>
                         </div>
                         <div class="modal-body p-4">
                            <form method="post" action="#">
                             <div class="form-group">
                                <input type="text" class="form-control form-control-lg" v-model="currentUser.name" name="name">
                             </div>
    
                            <div class="form-group">
                                 <input type="email" class="form-control form-control-lg" v-model="currentUser.email" name="email">
                            </div>
    
                            <div class="form-group">
                                 <input type="tel" class="form-control form-control-lg" v-model="currentUser.phone" name="phone">
                             </div>
                             
                             <div class="form-group">
                            <button type="button" class="btn btn-info btn-block btn-lg" @click="showEditModal=false;updateUser(); clearMsg(); "> Update User </button>
                             </div>
    
    
    
                             </form>
                        </div>
    
                        
                    </div>
                                
                </div>
        </div>
        <!-----------EDIT NEW USER MODAL ENDS-------->


        <!-----------Delete USER MODAL--------->
                
        <div id="overlay" v-if="showDeleteModal">
                <div class="modal-dialog">
                                
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                          
                            <h5 class="modal-title"> Delete User </h5>
                              <button type="button" class="close" @click="showDeleteModal=false" > <span aria-hidden="true"> &times; </span> </button>
                         </div>
                         <div class="modal-body p-4">
                           <h4 class="text-danger"> Are you sure you want to delete this user? </h4>
                           <h5> You are deleting '{{ currentUser.name }}' </h5>
                           <hr>
                           <button class="btn btn-danger btn-lg" @click="showDeleteModal=false; deleteUser(); clearMsg(); "> Yes </button> &nbsp;  &nbsp; 
                           <button class="btn btn-success btn-lg" @click="showDeleteModal=false"> No </button>
                        </div>
    
                        
                    </div>
                                
                </div>
        </div>
        <!-----------Delete USER MODAL ENDS-------->


     </div>



      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    
        <!-- production version, optimized for size and speed -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

        <script>
                var app =   new Vue({
                                el:'#app',
                                data :{
                                    errorMsg : "",
                                    successMsg : "",
                                    showAddModal :false,
                                    showEditModal:false,
                                    showDeleteModal:false,

                                    users:[],
                                    newUser :{name:"", email:"", phone:""},
                                    currentUser :{}

                            },
                            mounted:function(){
                                this.getAllUsers();
                            },
                            methods:{
                                  getAllUsers()
                                  {
                                    axios.get("http://test.io/crud-vue/process.php?action=read").then(function(response){
                                        if(response.data.error){
                                            app.errorMsg = response.data.message;
                                        }else{
                                            app.users = response.data.users;
                                        }
                                    });
                                  },

                                  addUser()
                                  {
                                    var formData = app.toFormData(app.newUser);
                                    axios.post("http://test.io/crud-vue/process.php?action=create" ,formData ).then(function(response){
                                        app.newUser = {name:'', email:'', phone:''};
                                        if(response.data.error){
                                            app.errorMsg = response.data.message;
                                        }else{
                                            app.successMsg = response.data.message;
                                            app.getAllUsers();
                                        }
                                    });


                                  },

                                  updateUser()
                                  {
                                    var formData = app.toFormData(app.currentUser);
                                    axios.post("http://test.io/crud-vue/process.php?action=update" ,formData ).then(function(response){
                                       
                                        app.currentUser = {};

                                        if(response.data.error){
                                            app.errorMsg = response.data.message;
                                        }else{
                                            app.successMsg = response.data.message;
                                            app.getAllUsers();
                                        }
                                    });


                                  },


                                  deleteUser()
                                  {
                                    var formData = app.toFormData(app.currentUser);
                                    axios.post("http://test.io/crud-vue/process.php?action=delete" ,formData ).then(function(response){
                                       
                                        app.currentUser = {};

                                        if(response.data.error){
                                            app.errorMsg = response.data.message;
                                        }else{
                                            app.successMsg = response.data.message;
                                            app.getAllUsers();
                                        }
                                    });


                                  },



                                  toFormData(obj)
                                  {
                                    var fd = new FormData();
                                    for (var i in obj)
                                        {
                                            fd.append(i,obj[i]);
                                        }
                                        return fd;

                                  },

                                  selectUser(user)
                                  {
                                    app.currentUser = user;
                                  },

                                  clearMsg()
                                  {
                                    app.errorMsg = "" ;
                                    app.successMsg = "" ;

                                  }




                            }

                });
                

                </script>
</body>
</html>
